# Java class files
*.class

# Log files
*.log
*.log.*
logging/

# IntelliJ project files
*.iml
*.ipr
*.iws
.idea/

# Eclipse project files
.project
.classpath
.settings/
.factorypath

# Gradle files
.gradle/
build/

# Maven files
target/

# Spring Boot DevTools files
.restart
.spring-boot-actuator/

# Other files to ignore
/bin/
/out/
/.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/maven-wrapper.properties
